.container {
  padding: 24px;
  max-width: 1200px;
  margin: 100px auto;

  .cardContainer {
    .card {
      height: 100%;

      .statusBadge {
        background-color: var(--primary-main);
        padding: 4px 12px;
        border-radius: 16px;
        color: var(--text-white);
      }

      .text {
        width: fit-content;
      }
    }
  }
}
