.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease-in-out;

  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
}

.chatView {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
