.requestSentCard {
  background-color: var(--primary-opaque-30);
  margin-bottom: 16px;

  .requestSentTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .loader {
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .requestSentText {
      padding: 8px 16px;
      border-radius: 4px;
      background-color: var(--white);
      border: 1px solid var(--black);

      &.accepted {
        color: var(--success-darker);
      }
    }
  }
}
