.patientInfoCard {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  height: 100%;
}

.patientInfoContent {
  padding: 1.5rem;

  .actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1.5rem;

  :nth-of-type(3) {
    p {
      line-height: 18px;
    }
  }
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoIcon {
  color: var(--primary-color);
  min-width: 20px;
}

.sexIcon {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  min-width: 20px;
  text-align: center;
}
