.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--cardBackground-main);
  border: 1px solid var(--primary-opaque-10);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &.fullWidth {
    width: 100% !important;
  }

  &.noBoxShadow {
    box-shadow: none;
  }
}
